In [4]:
import pandas as pd
import numpy as np
import YahooFinance as yf
import tsmom as tm
from importlib import reload
reload(tm)
import datetime as dt

/Users/ravikohli/opt/anaconda3/lib/python3.9/site-packages/pyfolio/pos.py:26: UserWarning:

Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.

In [5]:
ticks = ['TSLA']
start = dt.datetime(2020,1,1)
data = tm.get_yahoo_data(ticks, start= start)

[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL        TSLA        AAPL        TSLA        AAPL
Date
2020-01-02   73.894325   86.052002   75.087502   86.052002   75.150002
2020-01-03   73.175919   88.601997   74.357498   88.601997   75.144997
2020-01-06   73.759010   90.307999   74.949997   90.307999   74.989998
2020-01-07   73.412132   93.811996   74.597504   93.811996   75.224998
2020-01-08   74.593048   98.428001   75.797501   98.428001   76.110001
...                ...         ...         ...         ...         ...
2022-04-25  162.880005  998.020020  162.880005  998.020020  163.169998
2022-04-26  156.800003  876.419983  156.800003  876.419983  162.339996
2022-04-27  156.570007  881.510010  156.570007  881.510010  159.789993
2022-04-28  163.639999  877.510010  163.639999  877.510010  164.520004
2022-04-29  157.649994  870.760010  157.649994  870.760010  166.199997

                                Low                    Open              \
                   TSLA        AAPL        TSLA        AAPL        TSLA
Date
2020-01-02    86.139999   73.797501   84.342003   74.059998   84.900002
2020-01-03    90.800003   74.125000   87.384003   74.287498   88.099998
2020-01-06    90.311996   73.187500   88.000000   73.447502   88.094002
2020-01-07    94.325996   74.370003   90.671997   74.959999   92.279999
2020-01-08    99.697998   74.290001   93.646004   74.290001   94.739998
...                 ...         ...         ...         ...         ...
2022-04-25  1008.619995  158.460007  975.299988  161.119995  978.969971
2022-04-26  1000.000000  156.720001  875.000000  162.250000  995.429993
2022-04-27   918.000000  155.380005  877.359985  155.910004  898.580017
2022-04-28   900.000000  158.929993  821.700012  159.250000  899.979980
2022-04-29   934.400024  157.250000  870.000000  161.839996  902.250000

               Volume
                 AAPL       TSLA
Date
2020-01-02  135480400   47660500
2020-01-03  146322800   88892500
2020-01-06  118387200   50665000
2020-01-07  108872000   89410500
2020-01-08  132079200  155721500
...               ...        ...
2022-04-25   96046400   22780400
2022-04-26   95623200   45377900
2022-04-27   88063200   25652100
2022-04-28  130216800   41649500
2022-04-29  131587100   29313400

[587 rows x 12 columns]